
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;

    display: grid;
    grid-template-areas: "header header"
                         "main main"
                         ". footer";
    grid-template-columns: repeat(2, 1fr);

}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.footer{
    grid-area: footer;
    display: grid;

}
